<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">  
    <title>VScode Test</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" defer></script>
    <script src="main.js" defer></script>
    <!-- ↓deferをとるとwidow.loadの記述なしでもうまく動いた -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="main.js"></script> -->
  </head>

<body>
  <h1 class = mystyle>タイトル</h1>
  <button>もっと読む</button>
  <div id="result"></div>
     <p>テスト</p>
  <div id=wrapper>
    <!-- <a href = "text.html">リンク</a> -->
    <a href = "one.html",class=".hover">リンク1</a>    
    <a href = "two.html">リンク2</a>
    <a href = "three.html">リンク3</a>
    <p>children</p>
    <p><a href="http://google.com">Google</a></p>
    <p><a href="http://yahoo.co.jp">Yahoo!</a></p>
    <p><a href="http://dotinstall.com">Dotinstall</a></p>
  </div>
  <div class="todays_main_lesson">

    <p>jQueryの練習sensebahn.com/develop/524/</p>
    <!-- <button>Add!</button> -->
  
  
  
      <input type="text" id="name" value="hello" class="input">
      <select id="members" name="members" value="name" class="select">
        <option>taguchi</option>
        <option>fkoji</option>
        <option>dotinstall</option>      
    </select>
    <!-- <ul class="remind_posts">
      <% @remind_posts.each do |post| %>
        <li class="remind_post">
          <%= link_to post.question.truncate(50), remind1_post_path(post) %>
          <dl>
            <% if post.hint.present? %>
              <p class="check_hint"><a href="#">ヒントを見る</a></p>
              <div class="list_hint"> -->
                <!--<dt class="list_hint_term">Hint</dt>-->
                <!-- <dd class="list_hint_detail"><%= post.hint %></dd>
              </div>
            <% end %> -->
            <p name="slide_toggle_item" class="check_answer"><a href="#">答えを見る</a></p>
            <div class="list_answer">
              <!--<dt class="list_answer_term">Answer</dt>-->
            <dd class="list_answer_detail">○○○○○○○○○○○</dd>
            </div>
            <p class="memory_lebel_check"><a href="#">記憶レベルを更新する</a>        
            </p>     
  
    <!-- <form id="memory_lebel_select" method="post"> -->
      <select name="slide_toggle_item" class="select_list">
        <option selected>選択してください</option>
        <option>（次からリマインドしない）</option>
        <option>5.★★★★★</option>
        <option>4.★★★★</option>
        <option>3.★★★</option>
        <option>2.★★</option>
        <option>1.★</option>                    
      </select>  
  </div>
  <!-- </form>      -->

  <div id="box" style="width:100px;height:100px;background:red;">
    <p>テキスト</p>
  </div>
  <ul id="main">
      <li>0</li>
      <li class="item">1</li>
      <li class="item">5</li>
      <li>
        <ul id ="sub">
          <li>3-0</li>
          <li>3-1</li>
          <li class="item">3-2</li>
          <li class="item">3-3</li>
          <li>3-4</li>
        </ul>
      </li>
    </ul>
  </div>
  <p>Please enter something...</p>
  <input type="text" id = "mytextbox" onchange="myfunc()">
  <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="main.js"></script> -->
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script>
  'use strict';  
    //   $(function() {
    //   // $('a').attr('href','new.html');
    //   $('h1').css('color','red');
    // });
    // window.onload = function() {
      // $('a').attr('href','new.html');
    //   $('h1').css('color','red').hide('slow');
    // };
    // window.onload = function() {
    //   var li = $('<li>').text('just added');
    //     $('ul > li:eq(1)').before(li);
    // };
    
   
  // console.log('Hello world!')
  // console.log('Hello world! again')
//   $(function(){
//   const characters = [
//     {name: "にんじゃわんこ", age: 14},
//     {name: "ひつじ仙人", age: 1000}
//     ];
//     console.log(characters[1].name);
// });
// window.onload = function() {
//   $('#main > .item').css('color','red');
// };
  
      // $('body').on('click', '.vanish', function() {
      //   $(this).remove();
      // });
      // $('button').on('click mouseenter', function() {
      //       console.log('クリックされました！');
      //       var p = $('<p>').text('vanish').addClass('vanish');
      //       $(this).before(p);
      //   })
      $('button').click(function() {
          $('#result').load('more.html');
       });
  </script>
  <style>
  .mystyle {
    border:5px solid green;
    background-color: yellowgreen;
    font-size: 48px;
  }
  #box:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  
  </style>
</body>
</html>
