@charset "UTF-8";
header {
  width:100%;
  max-width: 900px;
  margin:0 auto;
  height: 100px;
  background-color: #ffccff;
}

.box-logo {
  width: 50px;
  height: 50px;
  background-color: coral;
  text-align: center;
  top:calc(50%-25px);
  left:calc(50%-25px);
}
/* チャプター：全体の設定 */
body {
    margin: 5;
    padding: 0;
    color: #333;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

p {
    margin-top: 0;
    line-height: 1.6;
}

#main-contents-wrapper {
    width: 100%;
    max-width:900px;
    margin: 0 auto;
    background: orange;
    display: flex;
  }
#main-contents-navigation {
    background: palegreen;
    width: 30%;
  }
  #main-contents-wrapper > #main-contents-main { 
    background: yellow;
    width: 70%;
    padding: 10px 20px;
}


.box {
  margin: 50px;
  border: 5px solid pink;
  width: 300px;
  height: 300px;
  background-color: skyblue;
  /* display: flex; */
  /* position: relative; */
}

.box-inner1 {
  margin-top: 20px;
  margin-left: 120px;
  border: 3px solid green;
  padding: 10px;
  width: 300px;
  height: 100px;
  background-color: orange;
  /* position: absolute; */
}
#main h1 {
    margin-top: 15px;
    font-size: 24px;
}

#main h2 {
    font-size: 20px;
}

#main h3 {
    font-size: 16px;
}

header {
    background: #ffcccc;
    width: 1000px;
}

footer {
    background: #ffccff;
    width: 1000px;
}